/* stylesheet */

/* flexbox properties */
html{
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 16px 150px;
}

.header,
.footer{
    display: flex;
    align-items: center;
}

.header{
    gap: 10px;
    justify-content: space-between;
}

.header .right{
    display: flex;
    gap: 10px;
}

/* fonts, colors, ... */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{

}

.header,
.footer,
.hero{
    background-color: #1F2937;
}

.header,
.logo{
    font-size: 24px;
    color: #F9FAF8;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .sub{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: #3882F6;
}

.call-to-action{
    background-color: #3882F6;
}