/* stylesheet */

html{
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    padding: 16px 150px;
}

.header-right{
    display: flex;
    gap: 16px;
}

.footer{
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 150px;
    gap: 20px;
}

.hero-left{
    width: 400px;
    min-height: 200px;
}

.hero-right{
    display: flex;
    flex: 0 0 380px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #E5E7EB;
}

.hero-image{
    text-align: center;
}

.hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero .sub{
    font-size: 18px;
    color: #E5E7EB;
    margin: 6px 0px;
}

button{
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 8px 30px;
}

.information{
    background-color: white;
    padding: 16px 150px;
    text-align: center;
}

.info-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 16px 150px; */
    gap: 20px;
}

.info-img{
    width: 60px;
    height: 60px;
    outline: blue solid;
    border-radius: 8px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.call-to-action{
    background-color: #3882F6;
    margin: 16px 150px;
    border-radius: 6px;
    padding: 20px 60px;
}

.call-to-action h1{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.call-to-action .sub{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 6px 0;
}